<div class="div2">
    <div class="toolbar1" >
        <nav class="navbar bg-blueviolet">
            <div class="container-fluid">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 15 17">
                   <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z"/>
                </svg>
                <h4 style="margin-right:10px ;">Terminal</h4>
            </div>
          </nav>
          <ngx-ui-loader 
          bgsColor="black"
          bgsPosition="center">
        </ngx-ui-loader>
          <pre class="opstyle">{{output}}</pre>
    </div>
</div>



