.head{
    background-image: url(src/app/terminal/light-blue.webp);
    padding: 20px;
    border-style:solid ;
    margin-right: 2px;
    margin-left: 2px;
}
.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  #moveright{
    float:right;
    margin-right: 2px;
  }
  #adjust-text{
    font-size: 30px;
    padding-left: 20px;
    position: absolute;
    top: 40px;
    left: 50px;
   
  }
  #moveside{
    position: absolute;
    right:70px;
    top : 20px;
  }