   
<div class="div1">
    <div class="toolbar1">
        <div class="example-button-row">
            <button mat-stroked-button (click)="runSourceCode()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 19 16">
                <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
              </svg>Execute</button>
           <!-- openpopup function contains the share and validation feature -->
            <button mat-stroked-button color (click)="OpenPopup()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 19 16">
                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
              </svg>Share</button>
            </div>
            
            <div class="mona">
              <!-- calling addsourcecode function in monaco-editor -->
              <ngx-monaco-editor [options]="editorOptions" [(ngModel)] ="addSourcecoderequest.code"> </ngx-monaco-editor>
              </div>
    </div>
    
</div>



